@{
    ViewData["Title"] = "Breeds";
    <link rel="stylesheet" href="~/css/breeds.css" />
}


<div class="breeds-container">
    <div class="breed-card">
        <a href="BulldogDetails">
            <img src="~/Images/Labrador-Retriever.jpg" alt="Bulldog">
            <div class="breed-name">Bulldog</div>
        </a>
    </div>
    <div class="breed-card">
        <a href="LabradorDetails">
            <img src="~/Images/Labrador-Retriever.jpg" alt="Labrador">
            <div class="breed-name">Labrador</div>
        </a>
    </div>
    <div class="breed-card">
        <a href="HuskyDetails">
            <img src="~/Images/Labrador-Retriever.jpg" alt="Husky">
            <div class="breed-name">Siberian Husky</div>
        </a>
    </div>
    <div class="breed-card">
        <a href="GoldenRetrieverDetails">
            <img src="~/Images/Labrador-Retriever.jpg" alt="Golden Retriever">
            <div class="breed-name">Golden Retriever</div>
        </a>
    </div>
    <div class="breed-card">
        <a href="PoodleDetails">
            <img src="~/Images/Labrador-Retriever.jpg" alt="Poodle">
            <div class="breed-name">Poodle</div>
        </a>
    </div>
    <div class="breed-card">
        <a href="BeagleDetails">
            <img src="~/Images/Labrador-Retriever.jpg" alt="Beagle">
            <div class="breed-name">Beagle</div>
        </a>
    </div>
</div>