@{
    ViewData["Title"] = "Home";
    <link rel="stylesheet" href="~/css/home.css" />
}

<div class="text-center">
    <h1 class="display-4" id="homeTitle">Welcome to Canine Kingdom!</h1>
    <p id="homeText">The site designed to offer you everything you need to know about your buddy!</p>

    <div class="image-gallery">
        <img src="~/Images/CoolDoggo.jpg" alt="Cute Dog" />
        <img src="~/Images/Dog-photo1.jpeg" alt="Happy Dog" />
        <img src="~/Images/French-bulldog.jpg" alt="Playful Dog" />
        <img src="~/Images/Golden-Retriever.jpg" alt="Fluffy Dog" />
        <img src="~/Images/Labrador-Retriever.jpg" alt="Running Dog" />
    </div>
    <p id="homeText">Explore different breeds, events, and results!</p>
</div>

